* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

table{
 width: 50%;
}

tr td {
  background-color: black;
  /* padding: 30px; */

}

td button,td input{
  background: transparent;
  color: aliceblue;
  outline: none;
  border: none;
  width: 100%;
  font-size: 20px;
  padding: 30px;

}

.operator{
  background-color: blanchedalmond;
}

.operator>button {
  color: #000;
}

td input::placeholder{
  color: #fff;
}